# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
Assets/Gizmos*
Assets/LeapMotion*
Assets/OVR*
Assets/Plugins*
Assets/PhotonUnityNetworking*
Assets/Photon\ Unity\ Networking*
Assets/Standard\ Assets*
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

